/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { 
  height: 100%; 
}

body {
  background-color: #FFF;
  color: #1E90FF ;
  font-family: "Consolas", "Andale Mono", "Courier New", "Courier", monospace;
  font-size: 14px;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

.post-trunc {
  margin-left: 20px;
}

/*****************************************************************************/
/*
/* About Me
/*
/*****************************************************************************/

.aboutme {
  position: relative;
  top: 10px;
  font-size: 16px;
}

  

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.banner {
  background-color: #D3D3D3;
  font-size: 42px;
  height: 140px;
  line-height: 190px;
  position: relative;
  text-align: center;
}

.banner-text {
  display: inline-block;
  line-height: normal;    
  vertical-align: middle;
}

.post-title {
  font-size: 24px;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

.sidebar {
  margin-left: 50px;
}

.sidebar ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.sidebar li {
  padding-left: 1em;
  text-indent: -1em;
}

.sidebar li:before {
  content: ">";
  padding-right: 5px;
}

.sidebar img {
  height: 50%;
  padding-bottom: 10px;
  position: relative;
  top: 20px;
  width: 50%;
}

footer{
  background-color: #D3D3D3;
  bottom: 0;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.footer-text {
  display: inline-block;
  line-height: normal;    
  vertical-align: middle;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
  position: relative;
  top: 20px;
  margin-bottom: 40px;
}

.post-text {
  font-size: 16px;
}

blockquote {
  border: 0; 
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
