<div class="sidebar">
  <h3>About</h3>
    <p>This blog serves as an account of my experiences as a web application developer.
    </p>
  <h3>Contact</h3>
  <ul>
    <li><a href="http://github.com/AmyWeiner" target="_blank">Github;</a></li>
    <li><a href="https://www.linkedin.com/in/amyrweiner" target="_blank">Linkedin;</a></li>
  </ul>

  <h3>Recent Posts</h3>
  <ul>
    {% for post in site.posts limit: 5 %}
      <li><a href="{{ post.url }}">{{ post.title }};</a></li>
    {% endfor %}
  </ul>
</div>
